@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "colors.scss";
@import "mixins.scss";
@import "animation.scss";


@mixin back($value) {
    background-color: $value;
}

@function toVw($target) {
    $vw-context: (1920 * 0.01) * 1px;
    @return math.div($target, $vw-context) * 1vw;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

body, html{
    font-family: 'Raleway', 'Playfair Display', sans-serif;
    color: $c-white;
}

header{
    background-image: url(../img/bg-image-main.jpg);
    @include bg-default;
}
    .main-info{
        width: toVw(1100px);
        margin: auto;
        &__mainmenu{
            @include flex-between;
            align-items: center;
            &-logo{
                padding-top: toVw(30px);
                img{
                    width: toVw(134px);
                    height: toVw(37px);
                }
                h4{
                    font-size: toVw(12px);
                    letter-spacing: 0.09em;
                }
            }
        &-menu{
                @include flex-center();
            ul{
                @include flex-between;
                list-style: none;
                a{
                    text-decoration: none;
                    color: $c-white;
                    font-size: toVw(14px);
                    padding-left: toVw(40px);
                }  
            }
            
        }
    }
    &__slider{
        &-name{
        padding-top: toVw(296px);
        font-weight: 700;
        color: $c-gold;
        text-align: center;
        font-family: 'Playfair Display';
        padding-bottom: toVw(100px);
        }
        &-mouse{
            position: absolute;
            width: toVw(23.53px);
            height: toVw(40px);
            border-radius: toVw(50px);
            border: toVw(1px) solid $c-gold;
            left: 50%;
            transform: translateX(-50%);
            span{
                display: block;
                width: toVw(2.4px);
                height: toVw(7.2px);
                background-color: $c-gold;
                position: absolute;
                left: 49%;
                transform: translateX(-50%);
                top: toVw(5px);
                animation: mouseroll 1.7s infinite;
                animation-direction: alternate;
            }
        }
        &-contact{
            display: flex;
            justify-content: space-around;
            padding-top: toVw(200px);
            padding-bottom: toVw(74px);
            a{
                font-family: 'Raleway';
                font-size: toVw(18px);
                text-decoration: none;
                color: $c-white;
            }
            &-location{
                display: flex;
                img{
                    width: toVw(14.71px);
                    height: toVw(21px);
                    margin-right: toVw(18.15px);
                }
            }
            &-telephone{
                display: flex;
                img{
                    width: toVw(21px);
                    height: toVw(21px);
                    margin-right: toVw(18.15px);
                }
            }
        }
    }
}
.testimonial{
    background-image: url(../img/II-2.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    background-color: $c-bg-color;
}
.testimonials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: toVw(120px);
    width: toVw(900px);
    padding-bottom: toVw(120px);
    &-item{
        display: flex;
        flex-direction: column;
        img{
            width: toVw(80px);
            height: toVw(80px);
            margin-left: auto;
            margin-right: auto;
            
        }
        p{
            font-size: toVw(20px);
            text-align: center;
            padding-top: toVw(55px);
        }
    }
}

.question{
    background-image: url(../img/bg-image.jpg);
    .want{
        width: toVw(1100px);
        margin: auto;
        display: flex;
        padding-top: toVw(180px);
        padding-bottom: toVw(180px);
        &-see{
            width: toVw(550px);
            padding-right: toVw(35px);
            h3{
                color: $c-gold;
                font-family: 'Playfair Display';
                font-weight: 700;
                font-size: toVw(36px);
            }
            p{
                font-size: toVw(16px);
                padding-top: toVw(50px);
            }
        }
        &-input{
            display: flex;
            width: toVw(540px);
            padding-top: toVw(50px);
            &-info{
                padding-right: toVw(30px);
            }
            input{
                width: toVw(255px);
                height: toVw(50px);
                background: #FFFFFF;
                opacity: 0.2;
                
            }
            input::placeholder{
                color: #8a8989;
                text-align: center;
                font-family: 'Raleway';
            }
            p{
                font-size: toVw(13px);
                color: #E7E7E7;
                text-align: center;
                padding-top: toVw(46px);
            }
            button{
                width: toVw(255px);
                height: toVw(50px);
                color: $c-white;
                background-color: $c-gold;
                border: none;
                font-size: toVw(16px);
                margin-top: toVw(35px);
                cursor: pointer;
            }
            button:hover{
                //color: $c-gold;
                //background-color: $c-white;
                transition: 0.3s;
                border-radius: 3px;
                box-shadow: 6px 6px 10px 0px rgba(125, 133, 93, 0.4);
                
            }
        }
    }
}
.apartments{
    background-image: url(../img/III.png);
    background-repeat: no-repeat;
    background-position: 180px 10px;
    background-color: $c-bg-color;
    .apartment{
        width: toVw(1200px);
        margin: auto;
        &-title{
            padding-bottom: toVw(100px);
            h3{
                font-size: toVw(36px);
                color: $c-gold;
                font-family: 'Playfair Display';
            }
        }
        &-lofts{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            cursor: pointer;
                img{
                    width: toVw(500px);
                    height: toVw(300px);
                    position: relative;
                    padding-bottom: toVw(30px);
                    padding-right: toVw(15px);
                    padding-left: toVw(15px);
                    opacity: .6;
                }
                img:hover{
                    transform: scale(1.1);
                    transition: .5s;
                    opacity: 1;
                    box-shadow: 6px 6px 10px 0px rgba(125, 133, 93, 0.4);
                }
                p{
                    font-size: toVw(24px);
                    text-align: left;
                    padding-left: toVw(70px);
                    position: relative;
                    bottom: toVw(80px);
                }
            }
        }
    }
.videos{
    background-image: url(../img/IV.png);
    background-repeat: no-repeat;
    background-position: 81% 50%;
    background-color: $c-bg-color;
}
    .video{
        display: flex;
        justify-content: center;
        &-image{
            img{
                height: toVw(719px);
                width: toVw(650px);
                position: relative;
            }
        }
        &-play{
            height: toVw(100px);
            width: toVw(100px);
            position: absolute;
            padding-top: 250px;
            cursor: pointer;
            }
    }
.maps{
    background-image: url(../img/V.png);
    background-repeat: no-repeat;
    background-position: 12% 23%;
    background-color: $c-bg-color;
    .map{
        display: flex;
        flex-direction: column;
        width: toVw(1200px);
        margin: auto;
        padding-top: toVw(180px);
        &-title{
            h3{
                font-size: toVw(36px);
                color: $c-gold;
                font-family: 'Playfair Display';
                padding-bottom: toVw(100px);
            }
        }
        &-questions{
            &-question{
                h3{
                    font-size: toVw(36px);
                    color: $c-gold;
                    font-family: 'Playfair Display';
                    padding-top: toVw(180px);
                    padding-bottom: toVw(61px);
                }
            }
        }
        &-input{
            padding-bottom: toVw(180px);
            &-info{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            input{
                width: toVw(255px);
                height: toVw(50px);
                background: #FFFFFF;
                opacity: 0.2;
                
            }
            input::placeholder{
                color: #8a8989;
                text-align: center;
                font-family: 'Raleway';
            }
            p{
                font-size: toVw(13px);
                color: #E7E7E7;
                text-align: center;
            }
            button{
                width: toVw(255px);
                height: toVw(50px);
                color: $c-white;
                background-color: $c-gold;
                border: none;
                font-size: toVw(16px);
                cursor: pointer;
            }
            button:hover{
                //color: black;
                //background-color: $c-white;
                transition: 0.3s;
                border-radius: 3px;
                box-shadow: 6px 6px 10px 0px rgba(125, 133, 93, 0.4);
            }
        }
    }
}
footer{
    background-color: #2D343C;
    .footer{
        width: toVw(1200px);
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: toVw(60px);
        padding-bottom: toVw(60px);

        &-logo{
            display: flex;
            flex-direction: column;
            padding-right: toVw(166px);
                img{
                    width: toVw(134px);
                    height: toVw(37px);
                }
                h4{
                    font-size: toVw(12px);
                    letter-spacing: 0.09em;
                }
            }
        &-menu{
                display: flex;
                flex-wrap: wrap;
                padding-right: toVw(166px);
            ul{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                list-style: none;
                a{
                    text-decoration: none;
                    color: $c-white;
                    font-size: toVw(14px);
                    padding-bottom: toVw(15px);
                }  
            }
        }
        &-info{
            //padding-left: toVw(166px);
            a, p{
                text-decoration: none;
                color: $c-white;
                font-size: toVw(14px);
                padding-bottom: toVw(15px);
            } 
            .footer-info-email{
                color: $c-gold;
            }
        }
        .footer-info-media{
            display: flex;
            justify-content: space-between;
            img{
                height: toVw(20px);
            }
        }
    }
}

@media screen and (max-width: 600px){
    h1{
        font-size: 25px;
    }
    
    .main-info{
        width: auto;
        &__mainmenu{
            display: flex;
            justify-content: center;
            &-logo{
                
                img{
                    width: 150px;
                    height: 50px;
                }
                h4{
                    font-size: 13px;
                }
            }
            &-menu{
                ul{
                    display: none;
                }
            }
        }
            &__slider{
                &-name{
                    padding-top: 50px;
                    padding-bottom: 30px;
                }
                &-mouse{
                    
                    width: 15px;
                    height: 30px; 
                    span{
                        width: 2px;
                        height: 5px;    
                    }
                    
                }
                &-contact{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 60px;
                    img{
                        width: 15px;
                        height: 15px; 
                    }
                    a{
                        font-size: 14px;
                        padding-bottom: 10px;
                    }
                }    
            }
        }
    .testimonials{
        display: flex;
        flex-direction: column;
        &-item{
            img{
                width: 150px;
                height: 100px;
            }
            p{
                font-size: 14px;
                padding-bottom: 30px;
            }
        }
    }
    .apartments{
        .apartment{
            &-title{
                h3{
                    font-size: 20px;
                    text-align: center;
                
                }
            }
            &-lofts{
                display: flex;
                align-items: center;
                flex-direction: column    
            }
            &-loft{
                img{
                    width: 250px;
                    height: 180px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
.question{
    .want{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-see{
            width: auto;
            h3{
                font-size: 20px;
                text-align: center;
            }
            p{
                font-size: 12px;
                text-align: center;
            }
        }
        &-input{
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        input{
            margin-top: 20px;
            width: 150px;
            height: 30px;
        }
        p{
            display: none;
        }
        button{
            width: 150px;
            height: 30px;
            margin-top: 20px;
            font-size: 14px;
        }
    }
}
.videos{
    .video{
        &-image{
            img{
                width: 250px;
                height: 180px;
            }
        }
        &-play{
            padding-top: 60px;
            position: absolute;
            
            img{
                width: 50px;
                height: 50px;
            }
        }
    }
}
.maps{
    .map{
        &-title{
            h3{
                font-size: 20px;
                text-align: center;
            }
        }
        &-link{
            padding-top: 20px;
        }
        &-questions{
            &-question{
                h3{
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
        &-input{
            &-info{
                display: flex;
                flex-direction: column;
                input{
                    margin-top: 20px;
                    width: 150px;
                    height: 30px;
                }
                p{
                    font-size: 12px;
                }
                button{
                    width: 150px;
                    height: 30px;
                    margin-top: 20px;
                    font-size: 14px;
                }
            }
        }
    }
}
footer{
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-logo{
            display: none;
        }
        &-menu{
            ul{
                display: none;
            }
        }
        &-info{
            display: flex;
            flex-direction: column;
            align-items: center;
            p, a{
                font-size: 12px;
            }
            .footer-info-media{
                img{
                    height: 25px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 10px;
                }  
            } 
        }
    }
}
}
    







